.full-body-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

.color-1 {
    color: maroon;
}

.color-2 {
    color: gold;
}

.google-colors {
    display: flex;
    align-items: center;
    font-size: 48px;
    font-family: 'Open Sans', sans-serif;
}

.google-colors h1 {
    margin-bottom: 0;
    margin-right: 3px;
}

.input-box {
    border-radius: 50px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding: 12px;
    width: 600px;
}

.sinput-box input {
    width: 100%;
    margin-left: 10px;
    font-size: 16px;
    border: none;
    outline: 0;
}

.input-box img {
    height: 20px;
    width: 20px;
}

.top-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-box input {
    width: 100%;
    margin-left: 10px;
    font-size: 16px;
    border: none;
    outline: 0;
}

.sinput-box {
    border-radius: 50px;
    border: 1px solid black;
    margin-top: 10px;
    padding: 12px;
    width: 150px;
    margin-right: 15px;

}

button {
    display: flex;
    justify-content: center;
    background-color: gold;
    border-radius: 4px;
    font-size: 16px;
    border: none;
    padding: 15px 32px;
    text-decoration: none;
    margin-top: 20px;
    margin-bottom: 20px;
}

#macros h4 {
    margin-right: 15px;
}
#macros {
    margin-top: 20px;
    margin-bottom: 20px
}

#answer-box {
    width: 700px;
    margin-top: 50px;
}

.episode-title {
    font-family: 'Kanit', sans-serif;
}

.episode-desc {
    font-family: 'Montserrat', sans-serif;
}

.side_by_side {
    display: inline-flex
}

.allergen_container {
    padding-right: 25px;
}

.time_constraint_container {
    padding-left: 25px;
}