<!DOCTYPE html>
<html lang="en">
<!-- <title>{% block title %}{% endblock %} - Flaskr</title> -->

<head>
    <meta charset="UTF-8">
    <title>DishDuet - Flaskr</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
</head>

<body>
    <section class="flex">
        <aside class="flex">
            <header>
                <h1 class="color-2">🍔  Dish</h1>
                <h1 class="color-1">Duet  🍖</h1>
            </header>
            <div class="small-aside">
                <div class="top-text">
                    <div>
                        <label for="filter-text-val">Search For Recipes</label>
                        <div class="input-box" onclick="sendFocus()">
                            <img src="{{ url_for('static', filename='images/mag.png') }}" />
                            <input type="text" placeholder="What's Cooking?" class="mainLoginInput" id="filter-text-val" onkeyup="filterText()">
                        </div>
                    </div>
    
                    <div>
                        <div class="flex" id="unwanted-box" onclick="">
                            <label for="unwanted" >List Ingredients To Avoid</label>
                            <input type="text" placeholder="Unwanted Ingredients" class="mainLoginInput" id="unwanted">
                        </div>
                    </div>
    
                </div>
                <div class = "side_by_side">
                    <div class = "allergen_container">
                        <h3>Allergies</h3>
                    
                        <label class="allergen_container"><input type="checkbox" name="allergy-type" value="nut">Nut</label><br/>
                        <label class="allergen_container"><input type="checkbox" name="allergy-type" value="vegetarian">Vegetarian</label><br/>
                        <label class="allergen_container"><input type="checkbox" name="allergy-type" value="vegan">Vegan</label><br/>
                        <label class="allergen_container"><input type="checkbox" name="allergy-type" value="dairy">Dairy</label><br/>
                        <label class="allergen_container"><input type="checkbox" name="allergy-type" value="dairy">Egg</label><br/>
                        <label class="allergen_container"><input type="checkbox" name="allergy-type" value="gluten">Gluten</label><br/>
                        <label class="allergen_container"><input type="checkbox" name="allergy-type" value="shellfish">Shellfish</label><br/>
                    </div>
    
                    <div class = "time_constraint_container">
                        <h3>Cook time</h3>
    
                        <label class="time_constraint_container"><input type="checkbox" name="time-type" value="30">Under 30 Minutes</label><br />
                        <label class="time_constraint_container"><input type="checkbox" name="time-type" value="30_to_1">30 minutes to 1 hour</label><br />
                        <label class="time_constraint_container"><input type="checkbox" name="time-type" value="1_to_2">1 to 2 hours</label><br />
                        <label class="time_constraint_container"><input type="checkbox" name="time-type" value="2+">2+ hours</label><br />
    
                    </div>
    
                </div>  
            </div>
        </aside>
        <main>
            <div id="answer-box">
                
            </div>
        </main>
    </section>
    <script>

        function answerBoxTemplate(dishname,detail){
            return `<div class=''>
                <h3 class='recipe-title'>${dishname}</h3>
                <p class='recipe-desc'>${detail}</p>
            </div>`
        }

        function sendFocus(){
            document.getElementById('filter-text-val').focus()
        }

        function filterText(){
            document.body.scrollTop = document.documentElement.scrollTop = 0; // sends screen to top of page
            document.getElementById("answer-box").innerHTML = ""
            console.log(document.getElementById("filter-text-val").value)
            fetch("/recipes?" + new URLSearchParams({ dishname: document.getElementById("filter-text-val").value }).toString())
            .then((response) => response.json())
            .then((data) => data.forEach(row => {
                let tempDiv = document.createElement("div")
                tempDiv.innerHTML = answerBoxTemplate(row.dishname,row.detail)
                document.getElementById("answer-box").appendChild(tempDiv)
            }));

        }
            
    </script>
</body>
</html>