<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>DishDash</title>
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
</head>

<body class="flex">
    <aside class="flex">
        <header>
            <h1 class="color-2">🥙 Dish</h1>
            <h1 class="color-1">Dash 🥘</h1>
        </header>
        <div class="small-aside">
            <div class="top-text">
                <div>
                    <label for="filter-text-val">Search For Recipes</label>
                    <div class="input-box" onclick="sendFocus()">
                        <img alt="" src="{{ url_for('static', filename='images/mag.png') }}" />
                        <input type="text" placeholder="What's Cooking?" class="mainLoginInput" id="filter-text-val">
                    </div>
                </div>

                <div>
                    <div class="flex" id="unwanted-box">
                        <label for="unwanted">What to Avoid</label>
                        <input type="text" placeholder="mushrooms..." class="mainLoginInput" 
                            id="unwanted">
                    </div>
                </div>
            </div>
            <div class="side_by_side">
                <div class="allergen_container">
                    <h3>Allergies</h3>

                    <label class="allergen_container"><input type="checkbox" name="allergy-type"
                            value="nut">Nut</label><br />
                    <label class="allergen_container"><input type="checkbox" name="allergy-type"
                            value="vegetarian">Vegetarian</label><br />
                    <label class="allergen_container"><input type="checkbox" name="allergy-type"
                            value="vegan">Vegan</label><br />
                    <label class="allergen_container"><input type="checkbox" name="allergy-type"
                            value="dairy">Dairy</label><br />
                    <label class="allergen_container"><input type="checkbox" name="allergy-type"
                            value="dairy">Egg</label><br />
                    <label class="allergen_container"><input type="checkbox" name="allergy-type"
                            value="gluten">Gluten</label><br />
                    <label class="allergen_container"><input type="checkbox" name="allergy-type"
                            value="shellfish">Shellfish</label><br />
                </div>
                <div class="search flex">
                    <div class="time_constraint_container">
                        <h3>Cook Time</h3>

                        <p>Under </p>
                        <label class="time_constraint_container"><input type="text" name="time-type" value="60">
                            Under 10 Minutes</label>
                        <p> Minutes</p>

                        <label class="time_constraint_container"><input type="radio" name="time-type" value="30">
                            Under 10 Minutes</label><br />
                        <label class="time_constraint_container"><input type="radio" name="time-type" value="60">
                            Under 20 Minutes</label><br />
                        <label class="time_constraint_container"><input type="radio" name="time-type" value="120">
                            Under 30 Minutes</label><br />
                        <label class="time_constraint_container"><input type="radio" name="time-type" value="240">
                            Under 40 Minutes</label><br />

                    </div>
                    <button id="search" onclick="filterText()">search</button>
                </div>

            </div>
        </div>
    </aside>
    <main>
        <div id="answer-box">

        </div>
    </main>

    <script>

        function star(rating, reviewcount) {
                
            img = ``
            i = 1

            while (i < rating) {
                img += `<img src="{{ url_for('static', filename='images/star.svg') }}">\n`
                i += 1
            }

            if (i - rating <= 0.5) {
                img += `<img src="{{ url_for('static', filename='images/half.svg') }}">\n`
                i += 1
            }

            while (i <= 5) {
                img += `<img src="{{ url_for('static', filename='images/no.svg') }}">\n`
                i += 1
            }

            return img + `<p>(${reviewcount})</p>`
            }


        function answerBoxTemplate(dishname, rating, reviewcount, img, ingredients) {
            return`
            <div class='result flex'>
                <div>
                    <h3 class='recipe-title'>${dishname}</h3>
                    <div class="flex star">
                        ${star(rating, reviewcount)}
                    </div>
                    <ul>${printIngredients(ingredients)}</ul>
                </div>
                <img src="${img}" alt="${dishname}">
            </div>`
        }
        

        function printIngredients(ingredients) {
            if (ingredients.length != 0) {
                return `<li>${ingredients.shift()}</li>` + printIngredients(ingredients)
            }
            else {
                return ``
            }

        }

        function sendFocus() {
            document.getElementById('filter-text-val').focus()
        }

        function filterText() {
            document.body.scrollTop = document.documentElement.scrollTop = 0; // sends screen to top of page
            document.getElementById("answer-box").innerHTML = ""
            console.log(document.getElementById("filter-text-val").value)
            
            var allergies = "" 
            var inputElements = document.getElementsByName("allergy-type")
            for (var i=0; i<inputElements.length; ++i) {
                if (inputElements[i].checked) {
                    allergies += inputElements[i].value + " " // collects checked allergies
                }
            }

            var time = 0
            var inputElements = document.getElementsByName("time-type")
            for (var i=0; i<inputElements.length; ++i) {
                if (inputElements[i].checked) {
                    time = inputElements[i].value // collects checked time
                }
            }

            time = document.getElementsByName("time-type")[0].value

            fetch("/recipes?" + new URLSearchParams({

                dishname: document.getElementById("filter-text-val").value,
                unwanted: document.getElementById("unwanted").value,
                allergies: allergies,
                time: time
        
            }).toString())

                .then((response) => response.json())
                .then((data) => data.forEach(row => {
                    let tempDiv = document.createElement("div")
                    tempDiv.innerHTML = 
                    answerBoxTemplate(row.dishname, row.aggregatedrating, row.reviewcount, row.images, row.ingredientparts, row.detail)
                    document.getElementById("answer-box").appendChild(tempDiv)
                }));
        }

    </script>
</body>

</html>