<!DOCTYPE html>
<html lang="en">
<!-- <title>{% block title %}{% endblock %} - Flaskr</title> -->

<head>
    <meta charset="UTF-8">
    <title>DishDuet</title>
    <link rel="icon" href="/backend/templates/favicon.png">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
</head>

<body class="flex">
    <aside class="flex">
        <header>
            <h1 class="color-2">🥙  Dish</h1>
            <h1 class="color-1">Duet  🥘</h1>
        </header>
        <div class="small-aside">
            <div class="top-text">
                <div>
                    <label for="filter-text-val">Search For Recipes</label>
                    <div class="input-box" onclick="sendFocus()">
                        <img alt="" src="{{ url_for('static', filename='images/mag.png') }}" />
                        <input type="text" placeholder="What's Cooking?" class="mainLoginInput" id="filter-text-val"
                            onkeyup="filterText()">
                    </div>
                </div>

                <div>
                    <div class="flex" id="unwanted-box" onclick="">
                        <label for="unwanted">List Ingredients To Avoid</label>
                        <input type="text" placeholder="Unwanted Ingredients" class="mainLoginInput" 
                            id="unwanted" onkeyup="filterText()">
                    </div>
                </div>

            </div>
            <div class="side_by_side">
                <div class="allergen_container">
                    <h3>Allergies</h3>

                    <label class="allergen_container"><input type="checkbox" name="allergy-type"
                            value="nut" onclick="filterText()">Nut</label><br />
                    <label class="allergen_container"><input type="checkbox" name="allergy-type"
                            value="vegetarian" onclick="filterText()">Vegetarian</label><br />
                    <label class="allergen_container"><input type="checkbox" name="allergy-type"
                            value="vegan" onclick="filterText()">Vegan</label><br />
                    <label class="allergen_container"><input type="checkbox" name="allergy-type"
                            value="dairy" onclick="filterText()">Dairy</label><br />
                    <label class="allergen_container"><input type="checkbox" name="allergy-type"
                            value="dairy" onclick="filterText()">Egg</label><br />
                    <label class="allergen_container"><input type="checkbox" name="allergy-type"
                            value="gluten" onclick="filterText()">Gluten</label><br />
                    <label class="allergen_container"><input type="checkbox" name="allergy-type"
                            value="shellfish" onclick="filterText()">Shellfish</label><br />
                </div>

                <div class="time_constraint_container">
                    <h3>Cook time</h3>

                    <label class="time_constraint_container"><input type="checkbox" name="time-type" value="30" onclick="filterText()">
                        Under 30 Minutes</label><br />
                    <label class="time_constraint_container"><input type="checkbox" name="time-type" value="30_to_1" onclick="filterText()">
                        30 minutes to 1 hour</label><br />
                    <label class="time_constraint_container"><input type="checkbox" name="time-type" value="1_to_2" onclick="filterText()">
                        1 to 2 hours</label><br />
                    <label class="time_constraint_container"><input type="checkbox" name="time-type" value="2+" onclick="filterText()">
                        2+ hours</label><br />

                </div>

            </div>
        </div>
    </aside>
    <main>
        <div id="answer-box">

        </div>
    </main>

    <script>

        function answerBoxTemplate(dishname, rating, img) {
            return `
            <div class='result flex'>
                <div>
                    <h3 class='recipe-title'>${dishname}</h3>
                    ${rating}
                </div>
                <img src="${img}" alt="${dishname}">
            </div>`
        }

        function sendFocus() {
            document.getElementById('filter-text-val').focus()
        }

        function filterText() {
            document.body.scrollTop = document.documentElement.scrollTop = 0; // sends screen to top of page
            document.getElementById("answer-box").innerHTML = ""
            console.log(document.getElementById("filter-text-val").value)
            
            var allergies = "" 
            var inputElements = document.getElementsByName("allergy-type")
            for (var i=0; i<inputElements.length; ++i) {
                if (inputElements[i].checked) {
                    allergies += inputElements[i].value + " " // collects checked allergies
                }
            }

            fetch("/recipes?" + new URLSearchParams({

                dishname: document.getElementById("filter-text-val").value,
                unwanted: document.getElementById("unwanted").value,
                allergies: allergies
        
            }).toString())

                .then((response) => response.json())
                .then((data) => data.forEach(row => {
                    let tempDiv = document.createElement("div")
                    tempDiv.innerHTML = answerBoxTemplate(row.dishname, row.aggregatedrating, row.images)
                    document.getElementById("answer-box").appendChild(tempDiv)
                }));

        }

    </script>
</body>

</html>